@mixin font-ExtraBold {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(24px, 1.5vw, 32px);
    font-weight: 700;
    line-height: 2.5rem;
    color: #273461;
}

@mixin font-Bold {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(18px, 1.1vw, 24px);
    font-weight: 600;
    line-height: 1.75rem;
    color: #273461;
}

@mixin font-Regular__1 {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(16px, 0.93vw, 20px);
    font-weight: 500;
    line-height: 1.75rem;
    color: #273461;
}

@mixin font-Regular__2 {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(14px, 0.78vw, 16px);
    font-weight: 400;
    line-height: 1.5rem;
    color: #273461;
}

.ProductSlide--section-container {
    max-width: 100rem;
    padding: 5rem 100px 0 100px;
    margin: 0 auto;
}

@media (width < 1000px) {
    .ProductSlide--section-container {
        padding: 10rem 100px 0 100px;
    }
}

@media (width < 770px) {
    .ProductSlide--section-container {
        max-width: 150rem;
        padding: 10rem 40px 0 40px;
        margin: 0 auto;
    }
}

@media (width < 470px) {
    .ProductSlide--section-container {
        max-width: 100%;
        padding: 10rem 10px 0 10px;
        margin: 0 auto;
    }
}

.product-slider {
    overflow: hidden;
}

.section2-container__Product {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2vw;
}

.Product-header {
    @include font-ExtraBold();
    color: #273461;
    font-size: clamp(24px, 2vw, 48px);
}

.swiper-slide__wrapper {
    display: grid;
    gap: 1vw;
    width: auto !important;
    max-width: 250px;
    border: 1px solid #273461;
    border-radius: 5px;
    filter: drop-shadow(-13px 16px 7px rgba(0, 0, 0, 0.15));
}

.Product-wrapper__item-image {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1vw 1vw 0 1vw;
}

.image-BestPrice {
    display: flex;
    justify-content: flex-start;
    button {
        background-color: #76a85f;
        color: #fff;
        @include font-Regular__2();
        color: #fff;
        height: 25px;
        width: 125px;
        border: 0;
        border-radius: 15px;
    }
}
.image-BgImage {
    display: flex;
    justify-content: center;

    img {
        height: 10rem;
    }
}
.image-discount {
    display: flex;
    justify-content: flex-end;
    button {
        background-color: #c9af54;
        @include font-Regular__2();
        color: #000;
        height: 25px;
        width: 50px;
        border: 0;
        border-radius: 5px;
    }
}

.Product-wrapper__item-ticket {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1vw 1vw 1vw 1vw;
    gap: 0.5vw;
}

.ticket-price {
    @include font-Bold();
    color: #273461;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5vw;
    align-items: center;
}

.ticket-price__h2 {
    content: "1750 ₽";
    @include font-Regular__2();
    opacity: 0.6;
    color: #273461;
    text-decoration: line-through;
}

.ticket-name {
    @include font-Regular__1();
    color: #273461;
}

.ticket-starReating {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2px;
    width: 40%;
}

.ticket-Cart__Buy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1vw;
    width: 150px;
    height: 45px;
    @include font-Regular__2();
    color: #fff;
    background-color: #006f7c;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
