@mixin font-ExtraBold {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(24px, 1.5vw, 32px);
    font-weight: 700;
    line-height: 2.5rem;
    color: #273461;
}

@mixin font-Bold {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(18px, 1.1vw, 24px);
    font-weight: 600;
    line-height: 1.75rem;
    color: #273461;
}

@mixin font-Regular__1 {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(16px, 0.93vw, 20px);
    font-weight: 500;
    line-height: 1.75rem;
    color: #273461;
}

@mixin font-Regular__2 {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(14px, 0.78vw, 16px);
    font-weight: 400;
    line-height: 1.5rem;
    color: #273461;
}

.section-container {
    max-width: 100rem;
    padding: 5rem 100px 0 100px;
    margin: 0 auto;
}

@media (width < 1200px) {
    .section-container {
        padding: 5rem 100px 0 100px;
    }
}

@media (width < 770px) {
    .section-container {
        max-width: 150rem;
        padding: 5rem 40px 0 40px;
        margin: 0 auto;
    }
}

@media (width < 470px) {
    .section-container {
        max-width: 100%;
        padding: 5rem 10px 0 10px;
        margin: 0 auto;
    }
}

.sectionSwiperAdd-container {
    padding-top: 8.75rem;
}

@media (width < 770px) {
    .sectionSwiperAdd-container {
        padding-top: 9.75rem;
    }
}

.swiper-slide_img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.swiperAdd {
    height: 36.458vw;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

@media (width < 1000px) {
    .sectionSwiperAdd-container {
        display: none;
    }
}
