@import "../variables";

@mixin font-ExtraBold {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(24px, 1.5vw, 32px);
    font-weight: 700;
    line-height: 2.5rem;
    color: #273461;
}

@mixin font-Bold {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(18px, 1.1vw, 24px);
    font-weight: 600;
    line-height: 2.25rem;
    color: #273461;
}

@mixin font-Regular__1 {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(16px, 0.93vw, 20px);
    font-weight: 500;
    line-height: 1.75rem;
    color: #273461;
}

@mixin font-Regular__2 {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(14px, 0.78vw, 16px);
    font-weight: 400;
    line-height: 1.5rem;
    color: #273461;
}

.sort {
    position: relative;
    display: flex;
    gap: 1rem;
    &__label {
        display: flex;
        align-items: center;

        svg {
            margin-right: 8px;
        }

        b {
            margin-right: 8px;
            @include font-Regular__1();
            color: #ffffff;
        }

        span {
            color: $orange;
            border-bottom: 1px dashed $orange;
            cursor: pointer;
            @include font-Regular__1();
            color: #fe5f1e;
        }
    }

    &__popup {
        position: absolute;
        right: 0;
        margin-top: 35px;
        background: #ffffff;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        overflow: hidden;
        padding: 10px 0;
        width: 160px;

        ul {
            overflow: hidden;
            li {
                padding: 12px 20px;
                cursor: pointer;
                @include font-Regular__1();

                &.active,
                &:hover {
                    background: rgba(254, 95, 30, 0.05);
                }

                &.active {
                    font-weight: bold;
                    color: $orange;
                }
            }
        }
    }
}
