@mixin font-ExtraBold {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(24px, 1.5vw, 32px);
    font-weight: 700;
    line-height: 2.5rem;
    color: #273461;
}

@mixin font-Bold {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(18px, 1.1vw, 24px);
    font-weight: 600;
    line-height: 1.75rem;
    color: #273461;
}

@mixin font-Regular__1 {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(16px, 0.93vw, 20px);
    font-weight: 500;
    line-height: 1.75rem;
    color: #273461;
}

@mixin font-Regular__2 {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(14px, 0.78vw, 16px);
    font-weight: 400;
    line-height: 1.5rem;
    color: #273461;
}

/**------------------Section 3,5,7------------------*/

.section3-container__enterainment {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #f0ebe2;
    border-radius: 20px;
    filter: drop-shadow(-12px 15px 11.699999809265137px rgba(0, 0, 0, 0.25));
}

.section3-container__enterainment-reverse {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #f0ebe2;
    border-radius: 20px;
    filter: drop-shadow(-12px 15px 11.699999809265137px rgba(0, 0, 0, 0.25));
}

.container__enterainment-info {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2vw;
    justify-content: center;
}

.container__enterainment-info_Logo {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(24px, 1.5vw, 32px);
    font-weight: 700;
    line-height: 2.5rem;
    color: #273461;
    font-size: clamp(24px, 2vw, 48px);
    color: #006f7c;
    position: relative;
    cursor: pointer;

    strong {
        color: #249968;
    }
}

.container__enterainment-info_h1 {
    @include font-ExtraBold();
    color: #5a657c;
}

.container__enterainment-info_text {
    @include font-Regular__1();
    color: #5a657c;
}

.container__enterainment-image {
    overflow: hidden;
    border-radius: 20px;
}

.container__enterainment-image img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    transition: 3s;

    &:hover {
        transform: scale(1.1);
        border-radius: 20px;
    }
}

.container__enterainment-info_button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .container__enterainment-info_button1 {
        border-radius: 0.625rem;
        border: 1px solid #006f7c;
        background: rgba(0, 111, 124, 0);
        width: 100%;
        height: 3rem;
        @include font-Regular__2();
        color: #006f7c;
        cursor: pointer;
        transition: all 1s;
    }

    .container__enterainment-info_button2 {
        border-radius: 0.625rem;
        background: #006f7c;
        border: 0;
        width: 100%;
        height: 3rem;
        @include font-Regular__2();
        color: #fff;
        cursor: pointer;
        transition: all 1s;
    }
}

.container__enterainment-info_button1:hover {
    background: #006f7c;
    border: 0;
    color: #fff;
    transition: all 1s;
}

.container__enterainment-info_button2:hover {
    border: 1px solid #006f7c;
    background: rgba(0, 111, 124, 0);
    color: #006f7c;
    transition: all 1s;
}

@media (width < 1200px) {
    .section3-container__enterainment {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section3-container__enterainment-reverse {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (width < 650px) {
    .section3-container__enterainment {
        display: grid;
        grid-template-columns: 1fr;
    }

    .section3-container__enterainment-reverse {
        display: grid;
        grid-template-columns: 1fr;
    }
}
